html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;

    ;
}

h2 {
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-bottom: 40px;
    margin: 0 auto;
}

h3 {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

p {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

button {
    cursor: pointer;
}

section {
    padding-top: 20px;
    margin-bottom: 40px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.navbar {
    background: #0C0C0E;
    z-index: 1;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar__logo {
    color: #fff;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.navbar-menu {
    display: flex;
}

.navbar-menu__items {
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.navbar-menu__item {
    color: #fff;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.navbar-icon {
    background-color: #0C0C0E;
    border: none;
}

.navbar-icon__img {
    z-index: 99;
}

.header {
    background-image: url(./img/back.jpg);
    background-size: cover
}

.header-inner {
    padding: 220px 840px 160px 0;
}

.header__h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #0C0C0E;
    padding: 35px 40px;
}

.about-content {
    text-align: center;
}

.about__p {
    text-align: center;
    margin: 40px 0 20px;
}

.about-gallery{
    height: 560px;
    width: 1400px;
}

.swiper {
    display: flex;
    gap: 25px;
    overflow: hidden;
}

.swiper input {
    display: none;
}

.swiper__item {
    position: relative;
    transition: 2s;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -35%;
}

#radio3:checked ~ .first {
    margin-left: -68%;
    
}

.paginations {
    display: flex;
    gap: 10px;
    margin: 40px 686px auto;
}

.pagination {
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
    background-color: #bb945b;
    border-radius: 50%;
}

.pagination:hover{
    background-color: #0C0C0E;
}

.fav__h2 {
    margin-top: 71px;
}

.fav__hr {
    margin: 18px auto 40px;
}

.fav__h3 {
    font-size: 20px;
    margin-bottom: 40px;

}

.fav__h4 {
    font-family: 'Forum';
}

.fav-book__hr {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: inherit;
    margin-bottom: 20px;
}

.fav-content__h3 {
    margin-bottom: 40px;
}

.radiobuttons {
    display: flex;
    margin-bottom: 40px;
    gap: 90px;
}

.radiobuttons__item {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.fav-book {
    width: 532px;
    height: 540px;
    border: 1px solid #000;
    position: relative;
    padding: 15px 0 0px 18px;
}

.fav-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 219px;
}

.fav-book__h3 {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.fav__h3__span {
    color: #000;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.fav-book__p {
    font-size: 15px;
    text-transform: capitalize;
    width: 355px;
    letter-spacing: 2px;
}

.fav-book__btn {
    color: #0C0C0E;
    background-color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border-radius: 5px;
    position: absolute;
    bottom: 14px;
    left: 19px;
}

.fav-book__img {
    position: absolute;
    right: -40px;
    bottom: -4px;

}

.coffee-shop-content {
    text-align: center;
}

.coffee-shop__h2 {
    margin-top: 56px;
}

.coffee-shop__p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.coffee-shop__h3 {
    color: #BB945F;
    font-family: 'Forum';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.coffee-shop__h3.rigth {
    text-align: right;
}

.coffee-shop__h4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    margin-bottom: 40px;
    align-items: center;
}

.coffee-shop__span {
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop-cards {
    display: flex;
    justify-content: space-between;
}

.coffee-shop-card {
    width: 439px;
}

.coffee-shop-card__hr {
    margin-right: 60px;
    background: #BB945F;
    width: 100px;
    height: 1px;
}

.contacts__h4 {
    font-weight: 700;
    margin-bottom: 40px;
}

.contacts__h4:last-child {
    margin-bottom: 20px;
}

.contacts__span {
    font-weight: 700;
}

.contacts__p {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.contacts-stuff {
    padding-top: 19px;
}

.contacts-stuff__h4 {
    margin-bottom: 20px;
}

.contacts-inner-info {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.membership__h2 {
    padding-top: 36px;
}

.membership-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.membership-card__h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    text-align: center;
}

.membership-card-inner {
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFF;
    width: 555px;
    height: 361px;
    padding: 20px 20px 0px 20px;
}

.membership-card-inner-form {
    background: #BB945F;
    padding: 20px 20px 0 20px;
}

.membership-card-inner__btn {
    padding: 10px 40px;
    background-color: #fff;
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin: 30px 154px 40px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.membership-card__h4 {
    font-family: 'Forum';
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.membership-card-input input:placeholder-shown {
    color: #8E8E8E;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
    width: 97%;
    border-radius: 10px;
    border: none;
    padding: 8px 0 8px 20px;
}

.membership__btn {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 10px 40px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #fff;
    margin: 15px 155px 18px;
}

.membership__h3 {
    text-align: right;
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
}

.membership__p {
    width: 456px;
    text-align: right;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}

.membership-authorization-btns {
    display: flex;
    justify-content: flex-end;
}

.membership-authorization__btn {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 15.5px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.membership-authorization__btn:last-child {
    margin-right: 0;
}

.footer {
    background-color: #0C0C0E;
    margin-top: 40px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 27px;
}

.footer__social {
    margin-right: 12px;
}

.footer__social :last-child {
    margin-right: 0px;
}

.footer__p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-addres__p {
    margin-bottom: 18px;
}

.footer-work-time {
    text-align: right;
    display: grid;
    gap: 10px;
}

.footer__hr {
    width: 100%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
}

.footer-bottom__p {
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 20px;
}